.agency_name_title {
    width: 100%;
    margin: 0 auto;
    background-color: var(--c2);
}

.agency_name_title img {
    height: 40px;
    padding: 10px 0;
    background-color: var(--c2);
    display: block;
    margin: 0 auto;
}

.bg_img {
    height: 400px;
    width: 100%;
    background-image: url(pictures/morton_bg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg_img_resp {
    display: none;
}

.header {
    width: 80%;
    margin: 0 auto;
}

.personal_info {
    width: 50%;
    margin: 0 auto;
    border: 2px solid var(--c2);
    border-top: none;
    display: flex;
}

/* .personal_info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px 30px;
} */

.personal_info_text {
    width: 80%;
    margin: 0 auto;
}

.name {
    display: flex;
}

.name h2 {
    color: var(--c1);
    font-size: var(--s3);
    margin-top: 25px;
    margin-bottom: 0px;
}

.share_btn {
    margin: 30px 20px 0 20px;
}

.share_btn a button {
    color: var(--c7);
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.share_btn a button:hover {
    background-color: var(--c10);
    border: 1px solid var(--c9);
}

.header .personal_info .personal_info_details {
    margin: 20px 0;
}

.header .personal_info .personal_info_text p {
    color: var(--c13);
    margin: 5px 0;
}

.header .personal_info .personal_info_text p span {
    color: var(--c7);
}

.header .personal_info .personal_info_text #star {
    color: var(--c2);
}

.imgs {
    width: 120px;
    height: 50px;
    display: flex;
}

.imgs img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid var(--c2);
    object-fit: fill;
}

/* .header .imgs #img1 {} */

.imgs #img2 {z-index: 2; margin-left: -20px;}

.imgs #img3 {z-index: 4; margin-left: -20px;}

.work_people {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.work_people p {
    font-size: var(--s2);
}

.specifications {
    display: flex;
    width: 100%;
    gap: 1%;
}

.specifications p {
    width: fit-content;
    display: flex;
    text-align: center;
    padding: 4px 12px;
    background-color: var(--c10);
    color: var(--c3);
    font-size: var(--s1);
    border: 1px solid var(--c9);
    border-radius: 5px;
}

.agent_info {
    width: 80%;
    margin: 30px auto;
}

.agent_info .col_2 {
    width: 30%;
    /* height: 200px; */
    background-color: var(--c14);
    border: 1px solid var(--c2);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    float: right;
    position: sticky;
    top: 20px;
}

.agent_info .col_2:hover {
    border: 1px solid var(--c1);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
}

.agent_info .col_2 .agency_name_title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title_links {
    margin: 10px 0 0 20px;
}

.title_links h3 {
    color: var(--c1);
    border-left: 3px solid var(--c2);
    padding-left: 5px;
    padding-top: 10px;
}

.title_links a {
    text-decoration: none;
}

.title_links .fa {
    color: var(--c7);
    font-size: var(--s4);
    padding: 12px;
    margin-top: 10px;
}

.title_links .fa:hover {
    /* border: 1px solid var(--c9); */
    border-radius: 5px;
    background-color: var(--c10);
}

.title_links .links {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.contact_btns {
    display: block;
}

.contact_btns a {
    text-decoration: none;
    cursor: default;
}

.contact_btns a button {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 40px;
    border: 2px solid var(--c9);
    background-color: var(--c14);
    color: var(--c1);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--f1);
    font-size: var(--s2);
}

.contact_btns a button .fa {
    padding-right: 5px;
    color: var(--c2);
}

.contact_btns a button:hover {
    background-color: var(--c10);
    border: 2px solid var(--c2);
    .fa {
        color: var(--c1);
    }
}

.agent_info .col_1 {
    width: 65%;
}

.agent_info .col_1 .cat {
    padding: 30px 20px;
    background-color: var(--c14);
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid var(--c2);
    /* box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3); */
}

.agent_info .col_1 .cat:hover {
    border: 1px solid var(--c1);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
}

.agent_info .col_1 .cat h3 {
    color: var(--c1);
    border-left: 3px solid var(--c2);
    padding-left: 5px;
}

.agent_info .col_1 .cat p {
    color: var(--c13);
    margin: 10px 0;
}

.agent_info .col_1 .cat p span {
    color: var(--c7);
}

.agent_info .col_1 .cat h4 {
    color: var(--c1);
}

.agent_info .col_1 .cat .bar {
    display: flex;
    gap: 1%;
    text-align: center;
}

.agent_info .col_1 .cat .bar p {
    border: 1px solid var(--c9);
    border-radius: 5px;
    padding: 20px 0;
    width: 100%;
    font-size: var(--s1);
}

.agent_info .cat .sub_cat .sub_cat_bar {
    /* background-color: blue; */
    border: 1px solid var(--c9);
    border-radius: 5px;
    height: 200px;
    margin: 15px 0;
}

.agent_info .cat .sub_cat .sub_cat_bar:hover {
    border: 1px solid var(--c2);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.agent_info .cat .sub_cat .sub_cat_bar img {
    float: left;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.agent_info .cat .sub_cat .sub_cat_bar .sold_detail {
    width: 50%;
    float: right;
    margin: 25px 0;
}

.agent_info .cat .sub_cat a {
    text-decoration: none;
}

.agent_info .cat .sub_cat .sub_cat_bar p {
    font-size: var(--s2);
    margin: 10px auto;
    /* border: 1px solid blue; */
}

.agent_info .cat .sub_cat .sub_cat_bar p span {
    color: var(--c7);
}

.agent_info .cat .sub_cat .sub_cat_bar p .fa {
    color: var(--c7);
    padding-left: 5px;
}

.agent_info .cat .sold_btn a {
    text-decoration: none;
    cursor: default;
}

.agent_info .cat .sold_btn a button {
    margin: 10px auto;
    display: block;
    padding: 10px 40px;
    cursor: pointer;
    font-size: var(--s1);
    background-color: transparent;
    color: var(--c13);
    border: 1px solid var(--c9);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.agent_info .cat .sold_btn a button:hover {
    color: var(--c7);
    border: 1px solid var(--c9);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
}

.agent_info .cat .sold_btn a button .fa {
    padding-left: 10px;
}

.agent_info .cat .sub_cat_agents {
    width: 100%;
    display: flex;
}

.agent_info .cat .sub_cat_agents .sub_cat_agents_box {
    width: 100%;
    display: block;
    border: 1px solid var(--c9);
    border-radius: 5px;
    text-align: center;
    font-size: var(--s1);
    margin: 0 5px;
}

.agent_info .cat .sub_cat_agents .sub_cat_agents_box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.agent_info .cat .more_btn a {
    text-decoration: none;
    cursor: default;
}

.agent_info .cat .more_btn a button {
    margin: 10px auto;
    display: block;
    padding: 10px 40px;
    cursor: pointer;
    font-size: var(--s1);
    background-color: transparent;
    color: var(--c13);
    border: 1px solid var(--c9);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.agent_info .cat .more_btn a button:hover {
    color: var(--c7);
    border: 1px solid var(--c9);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.6);
}

.agent_info .cat .more_btn a button .fa {
    padding-left: 10px;
}

.agent_info .cat .about_agency a {
    text-decoration: none;
    color: var(--c13);
}

.agent_info .cat .about_agency a:hover {
    color: var(--c7);
}

.agent_info .cat .about_agency a p {
    color: var(--c13);
    text-decoration: underline var(--c13);
}

.agent_info .cat .about_agency a p:hover {
    color: var(--c7);
    text-decoration: none;
}

.agent_info .cat .about_agency li {
    color: var(--c13);
    margin-left: 10px;
}

@media screen and (max-width: 414px) {
    .bg_img {
        display: none;
    }
    .bg_img_resp {
        display: block;
        width: 100%;
        height: 100%;
    }
    .bg_img_resp img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    #shadow_hr {
        display: none;
    }
    .header {
        width: 80%;
        margin: 0 auto;
    }
    .header .personal_info {
        width: 100%;
        margin: 0;
        display: block;
    }
    .header .personal_info img {
        width: 100px;
        height: 100px;
        padding: 10px 0;
        margin: 0 auto;
        display: block;
    }
    .header .personal_info .personal_info_text {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 10px 0 20px 0;
        text-align: center;
    }
    .header .personal_info .personal_info_text .name h2 {
        margin-top: 25px;
        margin-bottom: 15px;
        /* margin: 0 auto; */
        display: block;
        width: 100%;
        border: 1px solid var(--c2);
        border-left: none;
    }
    .imgs {
        display: none;
    }
    .work_people {
        display: block;
        width: 100%;
        height: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .specifications {
        display: block;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .specifications p {
        width: fit-content;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 4px 12px;
        background-color: var(--c10);
        color: var(--c3);
        font-size: var(--s1);
        border: 1px solid var(--c9);
        border-radius: 5px;
    }
    .agent_info {
        width: 90%;
        margin: 30px auto;
    }
    .agent_info .col_2 {
        width: 100%;
        /* height: 200px; */
        border-radius: 10px;
        float: none;
        position: relative;
        top: 0;
    }
    .agent_info .col_1 {
        width: 100%;
    }
    .agent_info .col_1 .cat .bar {
        display: flex;
        gap: 1%;
        text-align: center;
        overflow: auto;
    }
    .agent_info .col_1 .cat .bar p {
        border: 1px solid var(--c9);
        border-radius: 5px;
        padding: 20px;
        width: 100%;
        font-size: var(--s2);
    }
    .agent_info .cat .sub_cat .sub_cat_bar {
        border-radius: 5px;
        height: 400px;
        margin: 15px 0;
    }
    .agent_info .cat .sub_cat .sub_cat_bar img {
        float: none;
        height: 50%;
        width: 100%;
        margin: 0 auto;
        display: block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .agent_info .cat .sub_cat .sub_cat_bar .sold_detail {
        width: 80%;
        margin: 25px auto;
        display: block;
        float: none;
    }
    .agent_info .cat .sub_cat_agents {
        width: 100%;
        display: block;
    }
    .agent_info .cat .sub_cat_agents .sub_cat_agents_box {
        width: 100%;
        display: block;
        border: 1px solid var(--c9);
        border-radius: 5px;
        text-align: center;
        font-size: var(--s1);
        margin: 10px 0px;
    }
    .agent_info .cat .about_agency {
        height: 200px;
        overflow: auto;
    }
}